.header {
  margin-top: 45px;
  align-items: center;
}

.header__logotipo {
  width: 173px;
}

.header__line {
  border-bottom: 1px solid #545454;
  margin-top: 40px;
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .header {
    margin-top: 28px;
  }

  .logotipo {
    max-width: 126px;
  }

  .line {
    margin-top: 32px;
  }
}
