.profile {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.profile__info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profile__picture {
  width: 168px;
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: 30px;
}

.profile__name {
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  max-height: 50px;
  max-width: 373px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.edit-button {
  margin: 0;
  padding: 0;
  background-color: black;
  margin-left: 18px;
  margin-top: 15px;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  cursor: pointer;
}

.profile__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile__detail {
  margin-top: 16px;
  font-weight: 400;
  font-size: 18px;
  max-width: 373px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__text {
  display: flex;
  flex-direction: row;
}

.add-button {
  border: 2px solid white;
  margin: 0;
  cursor: pointer;
  background-color: black;
  width: 150px;
  height: 50px;
}

@media screen and (max-width: 768px) {
  .profile__detail {
    margin-top: 55px;
  }

  .edit-button {
    position: relative;
    left: -10px;
  }
}
@media screen and (max-width: 576px) {
  .profile {
    flex-direction: column;
    justify-content: center;
  }

  .profile__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .profile__picture {
    margin: 0 auto;
  }

  .edit-button {
    margin: auto 20px;
  }
  .profile__description {
    margin-top: 30px;
  }
  .add-button {
    width: 100%;
  }

  .profile__name {
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
  }

  .profile__detail {
    margin: 14px auto 36px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
  }
}
